<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bear_0020.png</key>
		<dict>
			<key>x</key>
			<integer>603</integer>
			<key>y</key>
			<integer>391</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>190</integer>
			<key>offsetX</key>
			<real>-49</real>
			<key>offsetY</key>
			<real>-18</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0021.png</key>
		<dict>
			<key>x</key>
			<integer>749</integer>
			<key>y</key>
			<integer>581</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>208</integer>
			<key>offsetX</key>
			<real>-45</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0022.png</key>
		<dict>
			<key>x</key>
			<integer>749</integer>
			<key>y</key>
			<integer>789</integer>
			<key>width</key>
			<integer>154</integer>
			<key>height</key>
			<integer>208</integer>
			<key>offsetX</key>
			<real>-48</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0023.png</key>
		<dict>
			<key>x</key>
			<integer>603</integer>
			<key>y</key>
			<integer>581</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>208</integer>
			<key>offsetX</key>
			<real>-44</real>
			<key>offsetY</key>
			<real>-9</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0008.png</key>
		<dict>
			<key>x</key>
			<integer>193</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>177</integer>
			<key>offsetX</key>
			<real>-40.5</real>
			<key>offsetY</key>
			<real>-24.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0009.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>184</integer>
			<key>offsetX</key>
			<real>-48</real>
			<key>offsetY</key>
			<real>-21</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0011.png</key>
		<dict>
			<key>x</key>
			<integer>410</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>167</integer>
			<key>height</key>
			<integer>164</integer>
			<key>offsetX</key>
			<real>-5.5</real>
			<key>offsetY</key>
			<real>-30</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0012.png</key>
		<dict>
			<key>x</key>
			<integer>577</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>169</integer>
			<key>height</key>
			<integer>164</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>-30</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0013.png</key>
		<dict>
			<key>x</key>
			<integer>298</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>164</integer>
			<key>offsetX</key>
			<real>-33</real>
			<key>offsetY</key>
			<real>-30</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0014.png</key>
		<dict>
			<key>x</key>
			<integer>447</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>137</integer>
			<key>height</key>
			<integer>212</integer>
			<key>offsetX</key>
			<real>-24.5</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0015.png</key>
		<dict>
			<key>x</key>
			<integer>584</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>138</integer>
			<key>height</key>
			<integer>210</integer>
			<key>offsetX</key>
			<real>-24</real>
			<key>offsetY</key>
			<real>-8</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0016.png</key>
		<dict>
			<key>x</key>
			<integer>861</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>139</integer>
			<key>height</key>
			<integer>213</integer>
			<key>offsetX</key>
			<real>-23.5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0017.png</key>
		<dict>
			<key>x</key>
			<integer>462</integer>
			<key>y</key>
			<integer>391</integer>
			<key>width</key>
			<integer>141</integer>
			<key>height</key>
			<integer>213</integer>
			<key>offsetX</key>
			<real>-22.5</real>
			<key>offsetY</key>
			<real>-6.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0018.png</key>
		<dict>
			<key>x</key>
			<integer>722</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>139</integer>
			<key>height</key>
			<integer>214</integer>
			<key>offsetX</key>
			<real>-23.5</real>
			<key>offsetY</key>
			<real>-6</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0019.png</key>
		<dict>
			<key>x</key>
			<integer>322</integer>
			<key>y</key>
			<integer>391</integer>
			<key>width</key>
			<integer>140</integer>
			<key>height</key>
			<integer>215</integer>
			<key>offsetX</key>
			<real>-23</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0020.png</key>
		<dict>
			<key>x</key>
			<integer>88</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>177</integer>
			<key>offsetX</key>
			<real>-40.5</real>
			<key>offsetY</key>
			<real>-24.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0001.png</key>
		<dict>
			<key>x</key>
			<integer>88</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>212</integer>
			<key>offsetX</key>
			<real>-32</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0002.png</key>
		<dict>
			<key>x</key>
			<integer>200</integer>
			<key>y</key>
			<integer>612</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>214</integer>
			<key>offsetX</key>
			<real>-27</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0003.png</key>
		<dict>
			<key>x</key>
			<integer>200</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>216</integer>
			<key>offsetX</key>
			<real>-27</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0004.png</key>
		<dict>
			<key>x</key>
			<integer>322</integer>
			<key>y</key>
			<integer>177</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>214</integer>
			<key>offsetX</key>
			<real>-25.5</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
		<key>bear_0005.png</key>
		<dict>
			<key>x</key>
			<integer>200</integer>
			<key>y</key>
			<integer>393</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>219</integer>
			<key>offsetX</key>
			<real>-27</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>256</integer>
		</dict>
	</dict>
</dict>
</plist>